@font-face {
	font-family: "Cuprum";
	font-weight: 400;
	font-style: normal;
	src: local("Cuprum"),
	url("../fonts/cuprum.woff2") format("woff2"),
			url("../fonts/cuprum.woff") format("woff");
}
@font-face{
	font-family: "Cuprum";
	font-weight: 700;
	font-style: normal;
	src: local("Cuprum"),
			url("../fonts/cuprumbold.woff2") format("woff2"),
			url("../fonts/cuprumbold.woff") format("woff");
}
@font-face{
	font-family: "Cuprum";
	font-weight: 400;
	font-style: italic;
	src: local("Cuprum"),
			url("../fonts/cuprumitalic.woff2") format("woff2"),
			url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face{
	font-family: "PT Sans";
	font-weight: 400;
	font-style: normal;
	src: local("Cuprum"),
			url("../fonts/ptsans.woff2") format("woff2"),
			url("../fonts/ptsans.woff") format("woff");
}
@font-face{
	font-family: "PT Sans";
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/ptsansbold.woff2") format("woff2"),
			url("../fonts/ptsansbold.woff") format("woff");
}

/* Variables */
:root {
--header: #888888;
--main-menu: #293449;
--basic-darkgrey: #32425C;
--basic-red: #EE3643;
--basic-green: #63A63E;
--basic-background: #F3F7F9;
--basic-white: #FFFFFF;
--special-yellow: #FFBF47;
--special-blue: #3BBCE3;
--special-lilac:#DC91D8;
--special-greenlight: #8ED78F;
--wrap: #F7F3EC;
--text: #FFFFFF;
--basic-text-body: #000000;
--special-red-error:#BA2732;
--special-beige: #F9F5F0;
--border: #EAEAEA;
--special-grey-price:#A9A9A9;
--menu-active:#1D2739;
--button-hover:#CA2C37;
--yellow-text:#FFD180;
--basic-greylight: #C5C5C5;
--color_opacity: rgba(255, 255, 255, 0.3);
--basic-font:"Cuprum", "Arial", sans-serif;
--special-font: "PT Sans", "Arial", sans-serif;
--hover-grey: #B5B5B5;
--success:#5FBB2D;
--filter-basic: #c5c5c5;
--filter-active:#B5B5B5;
--opacity-grey-hover: rgba(169, 169, 169, 0.3);
--opacity-grey-active: rgba(169, 169, 169, 0.5);
--social: #212A3A;
--basic-green-button: #63A63E;
--add-green-border-button: #367315;
--button-onclick: #518534;
--scale-filter-bar:#00ca74;
--modal-grey-foot: #F4F4F4;
--add-liner: #D7DCDE;
--toggle: #ABABAB;
--shadow-toggle: #cfcfcf;
}

/* Global */
.page {
	height: 100%;
}
.page-body{
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: var(--basic-font);
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: var(--basic-text-body);
	background-color: var(--basic-white);
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}
a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* header */
.main-header {
	background-color: var(--basic-background);
	margin-bottom: 0px;
}

.header-logo-bar{
	background-color: var(--main-menu);
  height: 42px;
}

.main-header-menu {
	display: flex;
	flex-wrap: wrap;
  align-items: flex-start;
	width: 940px;
	margin: auto;
	font-family: var(--basic-font);
	font-size: 18px;
	line-height: 24px;
	color: var(--text);
}
.header-wrapper{
	width: 940px;
	margin: auto;
 }
 /*
 .place-for-lupa{
  position: relative;
 }

 */
.search{
	background-color: inherit;
	color: var(--basic-white);
	border:none;
	display: block;
	width: 270px;
	height: 42px;
  padding-left: 42px;
  border: none;
  position: relative;

}
.search-button{
  position: absolute;
  left: 15px;
  top: 15px;
  border: none;
  background-color: inherit;

}

.search-button svg{
  opacity: 0.3;
}

.search-button:hover svg{
  opacity: 1;
}

.search-button:active path{
  fill: var(--basic-red);
  opacity: 1;
}
.search:focus {
	background-color: var(--basic-white);
	color: var(--basic-text-body);
	fill: var(--basic-red);
  border: none;
}
.logo{
	background-color: var(--basic-red);
	box-shadow:0 5px 0 var(--special-red-error);
	width: 220px;
	height: 42px;
	display: flex;
}
.logo a{
	padding: 12px 57px 17px 55px;
}
.logo a:active{
	background-color: var(--special-red-error);
	box-shadow:0 5px 0 var(--special-red-error);
}
.header-link{
  display: flex;
  width: 150px;
  height: 42px;
  color: var(--text);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}
.header-link:active {
	color: var(--header);
}

/* ВСЕ КНОПКИ, кроме модальных (они в блоке модального окна)  */

.bookmark{
  position: relative;
  padding-left: 20px;
 }
.bookmark::before {
  background-image: url(../img/icon-bookmark.svg);
  position: absolute;
  top: 13px;
  left: 20px;
  width: 14px;
  height: 16px;
  content: " ";
  opacity: 0.3;
  background-repeat: no-repeat;
}
.bookmark:active,
.button-cart:active {
	background-color: var(--menu-active);
}
.button {
	background-color: var(--basic-red);
	color: var(--basic-white);
	text-transform: uppercase;
	border:none;
	width:192px;
	text-align: center;
	height: 38px;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 10px;
}
.button:hover{
	background-color: var(--button-hover);
}
.button:focus{
	background-color: var(--special-red-error);
}
.button-cart{
  width: 150px;
  box-sizing: border-box;
  position: relative;
  padding-left: 25px;
}

.button-cart::before {
  background-image: url(../img/icon-cart.svg);
  position: absolute;
  left: 26px;
  width: 15px;
  height: 15px;
  content: " ";
  opacity: 0.3;
}
.button-buy {
	background-color: var(--basic-green);
  box-sizing: border-box;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
}

.button-buy:hover {
	background-color: var(--success);
}
/*cостояния иконок */
.button-cart:hover::before,
.bookmark:hover::before,
.search-form:hover svg{
opacity: 1;
}
	/*--БЛОК АДРЕС + ЛИЧНЫЙ КАБИНЕТ--*/
.box{
	display: flex;
	align-items: flex-start;
  padding-top: 47px;
  margin-bottom: 0px;
  justify-content: space-between;
}
.header-text {
	color: var(--basic-red);
	font-family: var(--basic-font);
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	margin-left: 30px;
	width: 197px;
  margin-top: -3px;
	margin-right: 79px;
  margin-bottom: 45px;

}
.main-contacts{
  display: flex;
  width: 270px;
  flex-wrap: wrap;
  text-align: center;
  margin-right: 35px;
}
.header-contacts{
  margin-right: 50px;
}
.phone {
  display: block;
  box-sizing: border-box;
  color: var(--basic-red);
  text-decoration: none;
  position: relative;
  padding-top:4px;
  padding-bottom: 8px;
  padding-left: 25px;
  font-family: var(--basic-font);
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  width: 270px;
  height: 45px;
  border:solid 3px var(--basic-white);


}
.phone::before {
  content: " ";
  background-image: url(../img/icon-phone.svg);
  position: absolute;
  top: 10px;
  left: 35px;
  width: 17px;
  height: 19px;
}
.contacts-adress {
  font-family: var(--basic-font);
  font-size: 14px;
  font-style: normal;
  color: var(--basic-darkgrey);
  padding-left: 10px;
  padding-top: 2px;
}
.user-navigation{
  width: 299px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0px;
  display: flex;

}
.header-user-navigation{
  width:281px;
}
.user-link {
  display: block;
  padding: 11px 0;
  text-align: center;
  display: block;
  background-color: var(--basic-white);
  color: var(--basic-text-body);
  font-family: var(--basic-font);
  font-size: 21px;
}
.log-in{
  width: 121px;
  padding-left: 45px;
  padding-right: 27px;
  box-sizing: border-box;
  display: block;
  position: relative;
 }
.log-in::before{
  background-image: url(../img/icon-login-in.svg);
  position: absolute;
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
  content: " ";
}
.user-link:hover{
  color: var(--basic-red);
}
.log-in:hover::before{
  background-image: url(../img/icon-login-in-hover.svg);
  position: absolute;
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
  content: " ";
}
.register{
  padding-left: 24px;
  padding-right: 24px;
}
.log-in-link{
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 299px;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  background-color: var(--basic-white);
  padding-top: 11px;
  color: var(--basic-text-body)
}
.log-in-link::before{
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 13px;
  left: 15px;
  width: 19px;
  height: 19px;
  content: " ";
}
.log-in-link::after{
  background-image: url(../img/icon-log-out.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 14px;
  right: 17px;
  width: 20px;
  height: 17px;
  content: " ";
}

/* БЛОК ВОЙТИ И РЕГИСТРАЦИЯ*/
.little-button{
	display: flex;
	justify-content: space-around;
	width: 210px;
  font-size: 16px;
  line-height: 18px;
  margin-left: 44px;
  margin-top: 5px;
}
.little-button a{
  color: var(--basic-darkgrey);
}
.little-button a:last-child{
  padding-left: 26px;
}
.dot{
  position: relative;
}
.dot::after{
  content: " ";
  position: absolute;
  right: -20px;
  top: 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  content: " ";
  background-color: var(--basic-darkgrey);
}
.middle-button{
  padding-top: 11px;
  display: block;
  width: 220px;
  padding-left: 40px;
  padding-right: 40px;
}
.long-button{
  display: block;
  width: 220px;
  padding-top: 11px;
  margin-top: 20px;
  width: 300px;
}

/* НАВИГАЦИЯ ПО САЙТУ*/
.site-navigation {
	list-style: none;
	text-decoration: none;
	background-color: var(--basic-darkgrey);
	font-family: var(--basic-font);
	font-size: 18px;
	line-height: 24px;
	border-bottom: 5px solid var(--main-menu);
	display:flex;
	justify-content:space-around;
	flex-wrap: wrap;
	text-align: center;
	padding-left: 0px;
  margin: 0px;
  box-sizing: border-box;
  margin-bottom:60px;
}

.site-navigation a{
  display: block;
  padding: 17px 24px 14px 32px;
	color: var(--basic-white);
}
.site-navigation :first-child a {
  padding-left: 53px;
}

.site-navigation :last-child a{
  padding-right: 53px;
}

.site-navigation a:hover {
	background-color: var(--menu-active);
}
.site-navigation a:active {
	opacity: 0.5;
}
	/* - main секция меню -*/
.center-container {
	width: 940px;
	margin: auto;
}
.hidden {
	display: none;
}
.wrapper-submenu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 123px 123px 123px;
	gap: 20px 20px;
	grid-template-areas:
	"material tools technics"
	"gallery gallery sale"
	"gallery gallery delivery";
	margin-bottom: 59px;
  margin-top: 60px;
}
/*КНОПКИ НА ПЛАШКАХ*/
.submenu-item {
	display: inline-block;
	font-family: var(--basic-font);
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: var(--basic-white);
	width: 300px;
	height: 123px;
  box-sizing: border-box;
  overflow: hidden;
}
.submenu-item h3{
  font-family: var(--basic-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 22px;
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 14px;
  }
.submenu-button {
	width: 135px;
	height: 38px;
	text-align: center;
	margin-left: 22px;
	margin-bottom: 21px;
	background-color: var(--color_opacity);
	color: var(--basic-white);
	font-family: var(--basic-font);
	font-size: 14px;
  line-height: 18px;
	font-style: normal;
	text-transform: uppercase;
  padding-top: 10px;
}
.submenu-button:hover {
	background-color: var(--opacity-grey-hover);
}
.submenu-button:active {
	background-color: var(--opacity-grey-active);
}
/* ЦВЕТНЫЕ ПЛАШКИ КАТЕГОРИИ*/
.material {
	background-color: var(--special-yellow);
	grid-area: material;
  position: relative;
}
.material::after{
  position: absolute;
  background-image: url(../img/icon-color.svg);
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
  content: " ";
}
.tools {
	background-color: var(--special-blue);
	grid-area: tools;
  position: relative;
}
.tools::after{
  position: absolute;
  background-image: url(../img/icon-drel.svg);
  top: 34px;
  right: 31px;
  width: 75px;
  height: 61px;
  content: " ";

}
.technics {
	background-color: var(--special-lilac);
	grid-area: technics;
  position: relative;
}
.technics::after{
  position: absolute;
  background-image: url(../img/icon-track.svg);
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  content: " ";
 }
.sale {
	background-color: var(--special-greenlight);
	grid-area: sale;
  position: relative;
}
.sale::after {
  position: absolute;
  background-image: url(../img/icon-sale.svg);
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  content: " ";
}
.delivery {
	background-color: var(--special-yellow);
	grid-area: delivery;
  position: relative;
}

.delivery::after {
  position: absolute;
  background-image: url(../img/icon-delivery.svg);
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  content: " ";
}

/* СЛАЙДЕР*/
.gallery{
	grid-area: gallery;
  position: relative;
}
.open-catalog{
  background-color: var(--basic-red);
  display: block;
  width: 192px;
  position: absolute;
  left: 24px;
  top: 201px;
}
.gallery-slide{
  position: relative;
}

.gallery-slide h3{
	font-family: var(--basic-font);
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--basic-white);
	text-align: top;
  position: absolute;
  margin: 0px;
  top: 23px;
  left: 24px;
}
.gallery ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.gallery-slide p{
	font-family: var(--basic-font);
	font-size: 18px;
	font-weight: 400;
	color: var(--basic-white);
  margin: 0px;
  position: absolute;
  top: 64px;
  left: 24px;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;
  z-index: 20;
  display: flex;
  width: 30px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border: 2px solid var(--border);
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;

}
.slide-item{
  display:none;
}
.slide-current {
  display: block;
}
.slider-controls .current {
  background-color:var(--basic-red);
}


/*описать кнопки слайдера*/
.gallery-button-next{
  position: absolute;
  background-color: transparent;
  border: none;
  z-index: 20;
  right: 12px;
  bottom: 100px;
}


.gallery-button-back {
  position: absolute;
  background-color: transparent;
  border: none;
  z-index: 20;
  left: 16px;
  bottom: 100px;
}
.disabled{
  cursor: default;
  opacity: 0.3;
}

/*ЗАГОЛОВКИ*/
.wrap-title {
	background-color: var(--special-beige);
	display: flex;
	justify-content: space-between;
	align-items: center;
  margin-top: 0px;
  padding-bottom: 30px;
  padding-top: 29px;
  height: 30px;
}

.wrap-title h2,
.special h2,
.contacts h2,
.service h2,
.catalog-title h2{
	font-family: var(--basic-font);
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}
.wrap-title h2{
  display: block;
  padding: 20px 29px 20px 30px;
  box-sizing: border-box;
 }

.button-title{
	margin-right: 16px;
	vertical-align: middle;
	padding-top: 11px;
}

/*   ПОПУЛЯРНЫЕ ПРОДУКТЫ И ПРОИЗВОДИТЕЛИ*/
.product-list,
.manufacturer-list{
  padding:0;
  list-style: none;
}
.product-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 70px;
}
.list-item{
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
	align-items: center;
	width: 220px;
	height: 318px;
	border: 1px solid var(--border);
  position: relative;
  overflow: hidden;
}

.first-sight{
  width: 220px;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 7px;

}
.first-sight img{
  object-fit: contain;
}
.card-buttons-save{
  display: none;
  /*margin-left: 41px;*/
  margin-top: 33px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.card-buttons-save a{
  display: block;
  justify-content: center;
}
.new-item{
  position: relative;
}
.new-item::before{
  position: absolute;
  content: "NEW";
  margin-top: 0px;
  top: 7px;
  right: -26px;
  width: 100px;
  height: 21px;
  background-color: var(--basic-red);
  transform: rotate(45deg);
  text-transform: uppercase;
  font-family: var(--basic-font);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  padding-top: 8px;

}

.list-item:hover img {
  display: none;
}

.list-item:hover .card-buttons-save{
  display: block;

}

.manufacturer-item:hover,
.list-item:hover{
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.list-item h3{
	text-decoration: none;
	color: var(--basic-text-body);
	text-align: center;
  font-family: var(--special-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  margin: 0px 17px 0 18px;

}

.old-price {
  display: block;
  font-family: var(--special-font);
	font-size: 17px;
	line-height: 18px;
  font-weight: 700;
	color: var(--special-grey-price);
	text-decoration: line-through;
  margin-top: 5px;
  margin-bottom: 0px;

}
.new-price {
	font-size: 17px;
	line-height: 18px;
	background-image: url("../img/button-price.svg");
  background-repeat: no-repeat;
  width: 141px;
	color: var(--basic-white);
	padding-top: 10px;
	padding-bottom: 10px;
  text-align: center;
  margin: 13px 34px 21px 45px;
  }

.manufacturer-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows:    1fr 1fr;
	grid-gap: 20px;
  margin-bottom: 70px;

}
.manufacturer-item{
	display: flex;
	height: 145px;
	width: 218px;
	border: 1px solid var(--border);
	justify-content: center;
	align-items: center;
}
/* СЕКЦИЯ СЕРВИС - ТЕКСТ И МАЛОЕ МЕНЮ И КОНТАКТЫ*/
.service-bar{
	background-color: var(--basic-background);
	margin-bottom: 0px;
}
.service{
	width: 940px;
	margin: auto;
}
.special p,
.service p,
.contacts p {
	font-family: var(--special-font);
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: var(--basic-text-body);
	text-transform: none;
  margin: 0px;
}
.decorlist {
  padding-left: 35px;
  margin-bottom: 19px;
  margin-top: 3px;
}
.contacts p {
	margin-bottom: 32px;
  margin-top: 24px;
}
.service-slider{
	display: flex;
}

.service-menu{
	list-style: none;
	background-color: var(--main-menu);
  margin: 0px;
  padding: 0px;
  margin-bottom: 95px;
  position: relative;
  margin-top: 70px;
}

.service-menu::after{
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
  top: -45px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url("../img/service-shadow.svg");
}

.service-menu li{
  width: 240px;
}
.service-menu a{
  display: block;
	color: var(--basic-white);
	font-family: var(--basic-font);
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
  padding:  14px 22px 19px 22px;
}
.service-menu a:hover{
  background-color: var(--menu-active);
}
.service-menu a:active{
	background-color: var(--basic-white);
	color: var(--basic-darkgrey);
}
.service h3 {
  color: var(--basic-darkgrey);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
  margin-top: 0px;
}
.service-delivery{

	background-repeat: no-repeat;
	margin-left: 80px;
  position: relative;
}
.service-delivery::after{
  position: absolute;
  background-image: url("../img/layout-delivery.png");
  top: 19px;
  left: 151px;
  width: 468px;
  height: 261px;
  content: " ";
}
.padding-paragraph{
  margin-top: 30px;
}
.man-shopping{
  margin-top: 18px;
}
.service-garanty{
  position: relative;
  width: 318px;
}
.service-garanty::after{
  position: absolute;
  background-image: url("../img/layout-garanty.png");
  top: 65px;
  left: 239px;
  width: 389px;
  height: 283px;
  content: " ";
}
.service-garanty h3{
  padding-top: 65px;
  margin-bottom: 26px;
}

.service-credit{
  position: relative;
}
.service-credit h3{
  margin-top: 68px;
}
.credit-text{
  padding-bottom: 24px;
}
.credit-button{
  display: block;
  width: 195px;
  border-radius: 3px;
}

.service-credit::after {
  position: absolute;
  background-image: url("../img/layout-credit.png");
  top: 65px;
  left: 0px;
  width: 465px;
  height: 285px;
  content: " ";
}
.add-info{
	width: 940px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 70px;
}
.add-special{
	grid-column: 1 / 3;
	margin-right: 170px;
  margin-top: 70px;
}
.contacts{
	grid-column: 3 / 4;
  margin-top: 70px;
  padding-left: 15px;
}
.decorlist li{
  position: relative;
  list-style: none;
  margin-bottom: 12px;
}
.decorlist li::before{
  content: "";
  position: absolute;
  left: -25px;
  top: 11px;
  width: 25px;
  height: 2px;
  margin-left: -10px;
  background-color: var(--basic-red);
}

.perforator-margin{
  padding-bottom: 69px;
}

/* footer*/
/*ПОДВАЛ */
.footer {
	background-color: var(--basic-darkgrey);
	color: var(--basic-white);
	font-family: var(--basic-font);
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	font-style: normal;
}
.first-block{
	display: flex;
	justify-content: space-between;
}
.footer-logo{
	display: flex;
	width: 220px;
	height: 63px;
	background-color: var(--basic-red);
	box-shadow:  0 5px 0 var(--special-red-error);
}
.footer-logo a{
	padding:20px 41px 25px 41px;
}
.footer-logo a:focus{
	background-color: var(--special-red-error);
	box-shadow:0 5px 0 var(--special-red-error);
}
.second-block{
	display: flex;
	justify-content: space-between;
  margin-top: 15px;
}
.footer-adress{
	font-style: normal;
	width: 321px;
	flex-wrap: wrap;
  margin-bottom: 54px;
  margin-top: 12px;
  padding-left: 2px;
}

.sub-text-footer{
	display: flex;
	justify-content: space-between;
	width: 526px;
}
.tiny-footer{
	background-color: var(--main-menu);
	display: flex;
	justify-content: space-between;
	}
	.center-container-footer{
	width: 940px;
	margin: auto;
	display: flex;
  align-items: center;
  padding-top: 10px;
	}
	.footer-down{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 230px;
	font-family: var(--basic-font);
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	font-style: normal;
  box-sizing: border-box;
	}
.footer-down p{
  margin-bottom: 34px;
  margin-top: 25px;
}
.social-network{
  list-style:none;
  width: 134px;
  align-items: center;
  margin-left: 159px;
  margin-right: 118px;
  align-content: center;
  display: flex;
}
.social{
	display: flex;
	margin: 0px;
	padding: 0px;
	align-content: center;
}
.call-back{
	display: flex;
	justify-content: space-around;
  width: 286px;
}
.call-back p{
  margin-top: 10px;
  flex-shrink: 1
}


.call-back p:last-child{
  margin-left: 51px;
}

.footer a{
	color:inherit;
}
.footer-nav{
	border-bottom: none;
	justify-content: space-between;
  margin-bottom: 0px;
  list-style: none;
	text-decoration: none;
	background-color: var(--basic-darkgrey);
	font-family: var(--basic-font);
	font-size: 18px;
	line-height: 24px;
	flex-wrap: wrap;
	text-align: center;

}
.footer-nav a{
  display: block;
  padding: 0px;
  margin:0px 0px 0px 58px;
}

.footer-nav a:hover{
	background-color: inherit;
}
.whatever-justify{
	display: flex;
	justify-content: space-between;
	padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 37px;
  list-style: none;
}
.call-back{
  font-family: var(--basic-font);
  font-size: 16px;
  line-height: 18px;
}
.sub-text-footer,
.call-back a{
	color: var(--yellow-text);
	list-style: none;
	justify-content: space-between;
  }
.call-back a:active{
  color: var(--basic-red);
}
.sub-text-footer li:hover,
.footer-nav li:hover,
.call-back a:hover{
  text-decoration: underline;
}
.sub-text-footer li:active,
.footer-nav li:active{
  color: inherit;
  opacity: 0.5;
}
.social-background{
  justify-content: center;
  display: flex;
  align-items: center;
}
.social-button{
  display: flex;
  width:44px;
  height:44px;
  border-radius:50%;
  text-align:center;
  background-color:var(--social);
  align-items: center;
  justify-content: center;
  color: var(--basic-white);
  margin-right: 2px;
}
.social-button:hover,
.social-button:active {
	background-color:var(--basic-red);
}

/*  МОДАЛЬНЫЕ ОКНА*/

/*
.modal {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
}
.modal-write-us{
  background-color: var(--basic-white);
  top:120px;
  bottom: auto;
  margin: auto;
  display: flex;
  width: 620px;
  height: 430px;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0 0 5px 0 var(--basic-greylight);
  box-sizing: border-box;
  display: none;
}*/
.write-us input[type="email"],
.write-us input[type="text"],
.write-us textarea {
	font-family: var(--special-font);
	color: var(--special-grey-price);
	font-size: 13px;
	line-height: 24px;
	border: 2px solid var(--basic-greylight);
  width: 220px;
  height: 38px;
}
.write-us textarea{
  width: 460px;
  height: 114px;
}
.write-us{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 39px;
}
.short-form{
  display: flex;
  justify-content: space-between;
  width: 460px;
}
.write-item{
  margin-top: 0;
  margin-bottom: 10px;
  width: 220px;
}

.modal-close{
  background-color: transparent;
  border: none;
  position: absolute;
  right: 1px;
  top: 16px;

}
.button-footer{
  background-color: var(--modal-grey-foot);
  padding: 37px 80px;
  margin-top: 40px;
  width: 620px;
  box-sizing: border-box;
  text-align: center;
}
.letter-form-area textarea{
  margin-top: 11px;
}
.sent-button-modal{
  padding-bottom: 9px;
}
.modal-map{
  top: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  border-top: 7px solid var(--basic-red);
}
.modal-map iframe {
  border: none;
}

/* КАТАЛОГ */

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
	list-style: none;
	padding-left: 0px;
  margin: 20px 0px;
}
.breadcrumbs li {
  position: relative;
  margin-right: 41px;
}
.breadcrumbs li::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  right: -17px;
  top: 3px;

}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
	display: block;
	text-transform: uppercase;
	color: var(--basic-text-body);
	font-family: var(--special-font);
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}
.catalog-title{
	display: flex;
	background-color: var(--basic-background);
	color: var(--basic-darkgrey);
	padding: 29px 30px 30px 29px;
	margin-bottom: 18px;
}
.inner-page,
.wrap h2 {
	font-family: var(--special-font);
	font-size:13px;
	font-weight: 400;
	line-height:18px;
	text-transform: uppercase;
}
.wrap{
	background-color: var(--special-beige);
	display: flex;
  border-radius: 3px;
}

.wrap a{
	text-decoration: none;
	color: var(--basic-text-body);
	opacity: 0.3;
}
.wrap a:active{
	color: var(--basic-red);
	opacity: 1.0;
}
.wrap a:hover{
	color: var(--basic-text-body);
	border-bottom: 1px dashed var(--basic-red);
	opacity: 1.0;
}
.wrap.sort{
	margin-left: 20px;
	width: 700px;
  align-items: center;
  justify-content: space-between;
}
 /* общий контейнер  - фильтр и список товаров*/
.main-container{
	display: flex;
	align-items: flex-start;
}

/* СОРТИРОВКА ПО УБЫВАНИЮ/ ВОЗРАСТАНИЮ*/
.sort-button{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45px;
  height: 35px;
  vertical-align: bottom;
  margin-right: 15px;
  opacity: 1.0;
}
.sort-from-lowest svg,
.sort-from-highest svg {
  opacity: 1.0;
}
.sort-button a:hover path{
  fill: var(--basic-text-body);
}
.sort-button a:active path{
  fill: var(--basic-red);
}
.current-sort path{
  fill: var(--basic-red);
}
/* фильтр*/

.filter-container{
	display: flex;
	width: 240px;
	margin-right: 20px;
	padding: 0px;
}
.filter{
	width: 220px;
}
.filter legend {
  font-family: var(--special-font);
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
  padding-top: 10px;
}
.filter-item {
  padding: 0;
  border: none;
  margin: 0;
	border: none;
  padding-top: 15px;
  padding-bottom: 25px;

}
.range-filter {
  width: 220px;

}
.range-controls {
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--special-beige);
  border-radius: 3px;
  margin-bottom: 9px;
  position: relative;
}
.range-controls .scale {
  height: 2px;
  background: var(--add-liner);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--scale-filter-bar);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow-toggle);
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
}
.price-controls input {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  width: 47px;
  padding: 10px 24px;
  text-align: center;
  color:var(--basic-text-body);
  border: none;
  border-radius: 3px;
  background: var(--special-beige);
  margin-bottom: 22px;
}
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.filter-option {
  margin-bottom: 21px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.manufacture-filter label:hover .filter-input-checkbox {
  color: var(--filter-active);
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 23px;
  height: 23px;
  border: 2px solid var(--filter-basic);
  opacity: 0.7;
  border-radius: 3px;
  box-sizing: border-box;
}
.filter-input-checkbox:checked + label::before{
  display: none;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--basic-greylight);
  border-radius: 50%;
  box-sizing: border-box;
}
.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label{
cursor: default;
opacity: 0.3;
}

.filter-input-radio + label:hover::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--filter-basic);
  border-radius: 50%;
  box-sizing: border-box;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: var(--filter-basic);
  border-radius: 50%;
}

.filter-bar h2,
.filter-bar h3 {
  width: 201px;
  display: flex;
  padding-left: 19px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  padding-top: 10px;
  border-bottom: 1px solid var(--filter-basic);
}
.manufacture-filter{
  margin-bottom: 30px;
}
.manufacture-filter legend{
  padding-top: 15px;
  padding-bottom: 8px;
}
.power-fieldset{
  margin-bottom:40px;
  border-bottom: none;
  padding-top: 25px;
}
.power-fieldset legend{
  padding-top: 15px;
  margin-bottom: 15px;

}
.filter ul {
  padding: 0px;
  margin: 0;
  margin-bottom: 30px;
  list-style: none;
  line-height: 19px;
  font-size: 15px;
}
/* ссылки в шапке "сортировка"*/
.sort ul{
	display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
  list-style: none;
	padding-left: 0px;
  margin-right: 30px;
  width: 354px;
}
/*  секиция с карточками товаров*/

.product-table{
	display: flex;
	max-width: 700px;
	justify-content: space-between;
  padding-top: 25px;
}
.product-list-inner{
	margin: 0;
	padding: 0;
	list-style: none;
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
  grid-row-gap: 18px;
}
.catalog-button{
	font-size: 13px;
	line-height: 18px;
	background-color: var(--basic-white);
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	box-shadow:none;
  padding: 10px 78px;
  border: 1px solid var(--border);
}

.pagination{
	display: flex;
	margin-left: 240px;
}
 .pagination-list{
	display: flex;
	padding: 0;
	list-style: none;
	align-items: center;
  margin-top: 48px;
  margin-bottom: 59px;
}
.pagination-page {
	display: flex;
	width: 37px;
	height: 37px;
	border: 1px solid var(--border);
  margin-right: 10px;
  border-radius: 2px;
}
.pagination-page:last-child{
	width: 138px;
}
.pagination-page a {
	color: var(--basic-text-body);
	margin: auto;
}
.pagination-page:hover{
	border: 1px solid var(--basic-greylight);
}
.pagination-page:active{
	border: 1px solid var(--basic-red);
}
.current{
  background-color: var(--basic-red);
}
.current a{
  color: var(--basic-white);
}
.filter-bar {
	display: flex;
}
.service h2 {
	padding-top: 64px;
	padding-bottom: 25px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.perforator-margin {
  margin-top: 0px;
}

.button-card-buy{
  display: block;
  width: 135px;
  padding-top: 10px;
  box-sizing: border-box;
  height: 38px;
  border-radius: 2px;
  background-color: var(--basic-green-button);
  color: var(--basic-white);
  font-family: var(--basic-font);
  font-weight: 400;
  font-size: 14px;
  line-height:18px;
  text-align: center;
  border-bottom: solid 3px var(--add-green-border-button);
  margin-bottom: 10px;
}
.button-card-buy:hover{
  background-color: var(--success);
}
.button-card-buy:active{
  background-color: var(--button-onclick);
}
.save-button{
  display: block;
  width: 135px;
  padding-top: 10px;
  box-sizing: border-box;
  height: 38px;
  border-radius: 2px;
  color: var(--basic-darkgrey);
  font-family: var(--basic-font);
  font-weight: 400;
  font-size: 14px;
  line-height:18px;
  text-align: center;
  border: solid 3px var(--basic-green-button);
  }
.save-button:hover{
  border-color: var(--basic-darkgrey);

}
.save-button:active,
.save-button:active{
  color: var(--opacity-grey-active);
  border-color: var(--opacity-grey-active);
}


/* модальное окно в каталоге*/
.modal-catalog-cart{
  position: fixed;
  top: 415px;
  bottom: 200px;
  width: 620px;
  height: 282px;
  margin: auto;
  box-shadow: 0 0 5px 0 var(--basic-greylight);
  position: relative;
  box-sizing: border-box;
  border-top: 7px solid var(--basic-red);
}
.wrap-modal{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.light-side{
  text-align: center;
  padding: 73px 100px 63px 100px;
}
.light-side p{
  font-family: var(--basic-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  position: relative;

}
.light-side p::before{
  content: "";
  position: absolute;
  background-image: url(../img/icon-mark.svg);
  top: -18px;
  left: -18px;
  width: 66px;
  height: 66px;
}

.modal-footer-catalog{
  background-color: var(--modal-grey-foot);
}
.wrap-buttons{
  display: flex;
  width: 394px;
  margin: 37px 113px 37px 114px;
  background-color: var(--modal-grey-foot);
}
.stay-here{
  display: block;
  margin-left: 10px;
  width: 192px;
  padding: 10px 31px;
  box-sizing: border-box;
}

/* ОФОРМЛЕНИЕ КНОРОК ХЕДЕРА В КАТАЛОГЕ*/

.catalog-active{
  background-color: var(--basic-red);
  width: 136px;
  padding-left: 15px;
}
.catalog-bookmark{
  width: 164px;
  padding-left: 5px;
}

.catalog-active::before{
  position: absolute;
  left: 12px;
  width: 15px;
  height: 15px;
  content: " ";
  opacity: 0.3;
  background-image: url(../img/icon-cart.svg);
}
