@font-face {
	font-family: "Cuprum";
	font-weight: 400;
	font-style: normal;
	src: local("Cuprum"),
	url("../fonts/cuprum.woff2") format("woff2"),
			url("../fonts/cuprum.woff") format("woff");
}
@font-face{
	font-family: "Cuprum";
	font-weight: 700;
	font-style: normal;
	src: local("Cuprum"),
			url("../fonts/cuprumbold.woff2") format("woff2"),
			url("../fonts/cuprumbold.woff") format("woff");
}
@font-face{
	font-family: "Cuprum";
	font-weight: 400;
	font-style: italic;
	src: local("Cuprum"),
			url("../fonts/cuprumitalic.woff2") format("woff2"),
			url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face{
	font-family: "PT Sans";
	font-weight: 400;
	font-style: normal;
	src: local("Cuprum"),
			url("../fonts/ptsans.woff2") format("woff2"),
			url("../fonts/ptsans.woff") format("woff");
}
@font-face{
	font-family: "PT Sans";
	font-weight: 700;
	font-style: normal;
	src: url("../fonts/ptsansbold.woff2") format("woff2"),
			url("../fonts/ptsansbold.woff") format("woff");
}

/* Variables */
:root {
--header: #888888;
--main-menu: #293449;
--basic-darkgrey: #32425C;
--basic-red: #EE3643;
--basic-green: #63A63E;
--basic-background: #F3F7F9;
--basic-white: #FFFFFF;
--special-yellow: #FFBF47;
--special-blue: #3BBCE3;
--special-lilac:#DC91D8;
--special-greenlight: #8ED78F;
--wrap: #F7F3EC;
--logo-on-click: #BA2732;
--text: #FFFFFF;
--basic-text-body: #000000;
--special-red-error:#BA2732;
--special-beige: #F9F5F0;
--border: #EAEAEA;
--special-grey-price:#A9A9A9;
--menu-active:#1D2739;
--button-hover:#CA2C37;
--yellow-text:#FFD180;
--basic-greylight: #C5C5C5;
--color_opacity: rgba(255, 255, 255, 0.3);
--basic-font:"Cuprum", "Arial", sans-serif;
--special-font: "PT Sans", "Arial", sans-serif;
--hover-grey: #B5B5B5;
--success:#5FBB2D;
--filter-active:#B5B5B5;
--opacity-grey-hover: rgba(169, 169, 169, 0.3);
--opacity-grey-active: rgba(169, 169, 169, 0.5);
--social: #212A3A;
--basic-green-button: #63A63E;
--add-green-border-button: #367315;
--button-hover-succes: #5FBB2D;
--button-onclick: #518534;
}

/* Global */
.page {
	height: 100%;
}
.page-body{
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: var(--basic-font);
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: var(--basic-text-body);
	background-color: var(--basic-white);
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}
a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* header */
.main-header {
	background-color: var(--basic-background);
	margin-bottom: 60px;
}

.header-logo-bar{
	background-color: var(--main-menu);
}

.main-header-menu {
	display: flex;
	flex-wrap: wrap;
  align-items: center;
	width: 940px;
	margin: auto;
	font-family: var(--basic-font);
	font-size: 18px;
	line-height: 24px;
	color: var(--text);
}
.header-wrapper{
	width: 940px;
	margin: auto;
 }
.search {
	background-color: inherit;
	color: var(--basic-white);
	border:none;
	display: block;
	width: 270px;
	height: 42px;
}
.search::before {
	content: " ";
	background-image: url(../img/icon-search.svg);
	width: 19px;
	height: 19px;
	}
.search:focus {
	background-color: var(--basic-white);
	color: var(--basic-text-body);
	fill: var(--basic-red);
	/*как написать чтобы иконка посика - лупа - становилась красной при наведении?*/
}
.logo{
	background-color: var(--basic-red);
	box-shadow:0 5px 0 var(--special-red-error);
	width: 220px;
	height: 47px;
	display: flex;
}
.logo a{
	margin:auto;
}
.logo:focus{
	background-color: var(--logo-on-click);
	box-shadow:0 5px 0 var(--special-red-error);
}
.header-link{
	width: 150px;
	color: var(--text);
	align-items: center;
  align-content: center;
  text-align: center;
}
.header-link:active {
	color: var(--header);
}
.bookmark{
	background-image: url(/img/icon-bookmark.svg);
	background-repeat: no-repeat;
	background-position: left center;
}
.bookmark:hover {
	background-color: var(--menu-active);

}

/* ВСЕ КНОПКИ, кроме модальных (они в блоке модального окна)  */
.button {
	display: inline-block;
	background-color: var(--basic-red);
	color: var(--basic-white);
	text-transform: uppercase;
	border:none;
	width:192px;
	text-align: center;
	height: 38px;
}
.button:hover{
	background-color: var(--button-hover);
}
.button:focus{
	background-color: var(--special-red-error);
}
.button-cart{
	background-image: url(/img/icon-cart.svg);
	background-repeat: no-repeat;
	background-position: left center;
}
.button-buy {
	background-color: var(--basic-green);
  height: 42px;
  width: 150px;
  box-sizing: border-box;
  line-height: 24px;
  vertical-align: middle;
  padding-top: 9px;
  padding-bottom: 9px;
}
.button-buy:hover {
	background-color: var(--button-hover-succes);
}

	/*--БЛОК АДРЕС + ЛИЧНЫЙ КАБИНЕТ--*/
.box{
	display: flex;
	align-items: flex-start;
  padding-top: 41px;
}
.header-text {
	color: var(--basic-red);
	font-family: var(--basic-font);
	font-weight: 400;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	margin-left: 30px;
	width: 197px;
	margin-right: 93px;
  margin-top: 0px;

}
.main-contacts{
  display: flex;
  width: 270px;
  flex-wrap: wrap;
  text-align: center;
  margin-right: 70px;
}
.phone {
  color: var(--basic-red);
  text-decoration: none;
  font-family: var(--basic-font);
  font-size: 21px;
  font-weight: 700;
  width: 270px;
  border:solid 3px var(--basic-white);

}
.phone::before {
  content: " ";
  background-image: url(../img/icon-phone.svg);
  display: inline-block;
  width: 19px;
  height: 19px;
}
.contacts-adress {
  font-family: var(--basic-font);
  font-size: 14px;
  font-style: normal;
  color: var(--basic-darkgrey);
}
.user-navigation{
  width: 280px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0px;
  display: flex;
}
.log-in::before{
	content: " ";
	background-image: url(../img/icon-login-in.svg);
	display: inline-block;
	width: 19px;
	height: 19px;
}
.user-link {
  background-color: var(--basic-white);
  color: var(--basic-text-body);
  font-family: var(--basic-font);
  font-size: 21px;
  text-align: center;
  display: flex;
}
.log-in-link{
	width: 299px;
}
.log-in-link::before{
  background-image: url(../img/icon-user.svg);
  display: inline-block;
  width: 19px;
  height: 19px;
  content: " ";
}
.log-in-link::after{
  background-image: url(../img/icon-login.svg);
  display: inline-block;
  width: 19px;
  height: 19px;
  content: " ";
}
.little-button{
	display: flex;
	justify-content: space-around;
	width: 281px;
}
.middle-button{
  padding-top: 11px;
}
.long-button{
  width: 220px;
  padding-top: 11px;
  margin-top: 25px;
  width: 300px;
}

/* НАВИГАЦИЯ ПО САЙТУ*/
.site-navigation {
	list-style: none;
	text-decoration: none;
	background-color: var(--basic-darkgrey);
	font-family: var(--basic-font);
	font-size: 18px;
	line-height: 24px;
	box-shadow:0 5px 0 var(--main-menu);
	display:flex;
	justify-content:space-around;
	flex-wrap: wrap;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 20px;
	}
.site-navigation a{
		color: var(--basic-white);
}
.site-navigation a:hover{
	background-color: var(--menu-active);
}
	/* - main секция меню -*/
.center-container{
	width: 940px;
	margin: auto;
}
.hidden {
	display: none;
}
.wrapper-submenu{
	outline: 5px solid rgba(0, 255, 255, 0.3);
	outline-offset: -5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 20px 20px;
	grid-template-areas:
	"material  technics  tools"
	"gallery gallery sale"
	"gallery gallery delivery";
	margin-bottom: 60px;
}
/*КНОПКИ НА ПЛАШКАХ*/
.submenu-item {
	display: inline-block;
	font-family: var(--basic-font);
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: var(--basic-white);
	width: 300px;
	height: 123px;
}
.submenu-button {
	width: 135px;
	height: 38px;
	text-align: center;
	margin-left: 22px;
	margin-bottom: 21px;
	background-color: var(--color_opacity);
	color: var(--basic-white);
	font-family: var(--basic-font);
	font-size: 14px;
	font-style: normal;
	text-transform: uppercase;
}
.submenu-button:hover{
	background-color: var(--opacity-grey-hover);
}
.submenu-button:active{
	background-color: var(--opacity-grey-active);
}
/* ЦВЕТНЫЕ ПЛАШКИ КАТЕГОРИИ*/
.material {
	background-color: var(--special-yellow);
	grid-area: material;
	background-image: url(../img/icon-color.svg);
	background-repeat: no-repeat;
}
.tools {
	background-color: var(--special-blue);
	grid-area: tools;
	background-image: url(../img/icon-drel.svg);
	background-repeat: no-repeat;
}
.technics {
	background-color: var(--special-lilac);
	grid-area: technics;
	background-image: url(../img/icon-track.svg);
	background-repeat: no-repeat;
}
.sale {
	background-color: var(--special-greenlight);
	grid-area: sale;
	background-image: url(../img/icon-sale.svg);
	background-repeat: no-repeat;
}
.delivery {
	background-color: var(--special-yellow);
	grid-area: delivery;
	background-image: url(../img/icon-delivery.svg);
	background-repeat: no-repeat;
}

/* СЛАЙДЕР*/
.gallery{
	grid-area: gallery;
}
.gallery-slide{
	background-color: var(--header);

}
.gallery-slide h3{
	font-family: var(--basic-font);
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--basic-white);
	text-align: top;
}
.gallery ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.gallery-slide p{
	font-family: var(--basic-font);
	font-size: 18px;
	font-weight: 400;
	color: var(--basic-white);
}
/*описать кнопки слайдера
.gallery-button-back
.gallery-button-next  */

/*ЗАГОЛОВКИ*/
.wrap-title {
	background-color: var(--special-beige);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrap-title h2,
.special h2,
.contacts h2,
.service h2,
.catalog-title{
	font-family: var(--basic-font);
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}
.wrap-title h2{
margin-left: 28px;
}
.button-title{
	margin-right: 19px;
	vertical-align: middle;
	padding-top: 11px;
}

/*   ПОПУЛЯРНЫЕ ПРОДУКТЫ И ПРОИЗВОДИТЕЛИ*/
.product-list,
.manufacturer-list{
  padding:0;
  list-style: none;
}
.product-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
}
.list-item{
  display: flex;
  flex-direction: column;
	align-items: center;
	width: 218px;
	min-height: 318px;
	border: 1px solid var(--border);
  justify-content: space-between;
}
.manufacturer-item:hover,
.list-item:hover{
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.list-item h3{
	text-decoration: none;
	color: var(--basic-text-body);
	text-align: center;
  font-family: var(--special-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: none;
  margin-left: 18px;
  margin-right: 17px;
}
.list-item img{
  order: -1;
}
.old-price {
  font-family: var(--special-font);
	font-size: 17px;
	line-height: 18px;
  font-weight: 700;
	color: var(--special-grey-price);
	text-decoration: line-through;
}
.new-price {
	font-size: 17px;
	line-height: 18px;
	background-color: var(--basic-red);
	color: var(--basic-white);
	padding-top: 10px;
	padding-bottom: 10px;

}
.manufacturer-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows:    1fr 1fr;
	grid-gap: 20px;

}
.manufacturer-item{
	display: flex;
	height: 145px;
	width: 218px;
	border: 1px solid var(--border);
	justify-content: center;
	align-items: center;
}
/* СЕКЦИЯ СЕРВИС - ТЕКСТ И МАЛОЕ МЕНЮ И КОНТАКТЫ*/
.service-bar{
	background-color: var(--basic-background);
	margin-bottom: 0px;
}
.service{
	width: 940px;
	margin: auto;
}
.special p,
.service p,
.contacts p {
	font-family: var(--special-font);
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: var(--basic-text-body);
	text-transform: none;
}
.contacts p {
	margin-bottom: 32px;
}
.service-slider{
	display: flex;
}

.service-menu{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
	list-style: none;
	background-color: var(--main-menu);
	width: 240px;
  height: 183px;
  margin: 0px;
  padding: 0px;
  align-items: center
}
.service-menu li{
  padding-left: 22px;
}
.service-menu a{
	color: var(--basic-white);
	font-family: var(--basic-font);
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
}
.service-menu a:hover{
  background-color: var(--menu-active);
}
.service-menu a:active{
	background-color: var(--basic-white);
	color: var(--basic-darkgrey);
}
.service h3 {
	color: var(--basic-darkgrey);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
  margin-top: 0px;
}
.service-delivery{
	background-image: url(../img/layout_delivery.png);
	background-repeat: no-repeat;
	margin-left: 80px;
}
.service-garanty{
	background-image: url(../img/layout_garanty.png);
	background-repeat: no-repeat;
}
.service-credit{
	background-image: url(../img/layout_credit.png);
	background-repeat: no-repeat;
}
.add-info{
	width: 940px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 70px;
}
.add-special{
	grid-column: 1 / 3;
	margin-right: 180px;
}
.contacts{
	grid-column: 3 / 4;
}

/* footer*/
/*ПОДВАЛ */
.footer {
	background-color: var(--basic-darkgrey);
	color: var(--basic-white);
	font-family: var(--basic-font);
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	font-style: normal;
}
.first-block{
	display: flex;
	justify-content: space-between;
}
.footer-logo{
	display: flex;
	width: 220px;
	height: 68px;
	background-color: var(--basic-red);
	box-shadow:0 5px 0 var(--special-red-error);
}
.footer-logo a{
	margin:auto;
}
.footer-logo a:focus{
	background-color: var(--logo-on-click);
	box-shadow:0 5px 0 var(--special-red-error);
}
.footer-nav li{
	display: inline-block;
	list-style: none;
}
.second-block{
	display: flex;
	justify-content: space-between;
}
.footer-adress{
	font-style: normal;
	width: 320px;
	flex-wrap: wrap;
}

.sub-text-footer{
	display: flex;
	justify-content: space-between;
	width: 526px;
}
.tiny-footer{
	background-color: var(--menu-active);
	display: flex;
	justify-content: space-between;
	}
	.center-container-footer{
	width: 940px;
	margin: auto;
	display: flex;
	}
	.footer-down{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 227px;
	font-family: var(--basic-font);
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	font-style: normal;
	}
.social-network{
  list-style:none;
  width: 134px;
  align-items: center;
  margin-left: 161px;
  margin-right: 118px;
  align-content: center;
  display: flex;
}
.social{
	display: flex;
	margin: 0px;
	padding: 0px;
	align-content: center;
}
.call-back{
	display: flex;
	justify-content: space-around;
}
.footer a{
	color:inherit;
}
.footer-nav{
	box-shadow: none;
	justify-content: space-between;
}
.footer-nav a:hover{
	background-color: inherit;
}
.whatever-justify{
	display: flex;
	width: 546px;
	justify-content: space-between;
	padding-left: 0px;
}
.sub-text-footer,
.call-back a{
	color: var(--yellow-text);
	list-style: none;
	justify-content: space-between;
}
.call-back a:active{
  color: var(--basic-red);
}
.sub-text-footer li:hover,
.footer-nav li:hover{
  text-decoration: underline;
}
.sub-text-footer li:active,
.footer-nav li:active{
  background-color: opacity 0.5;
}
.social-background{
  justify-content: center;
  display: flex;
  align-items: center;
}
.social-button{
  display: flex;
  width:44px;
  height:44px;
  border-radius:50%;
  text-align:center;
  background-color:var(--social);
  align-items: center;
  justify-content: center;
  color: var(--basic-white);
}
.social-button:hover,
.social-button:active {
	background-color:var(--basic-red);
}

/*  МОДАЛЬНЫЕ ОКНА*/

/*сюда же потом добавить стиль для плейхолдера textarea*/
.write-us input[type="email"],
.write-us input[type="text"],
.write-us textarea {
	font-family: var(--special-font);
	color: var(--special-grey-price);
	font-size: 13px;
	line-height: 24px;
	border: 2px solid var(--basic-greylight);
  width: 220px;
  height: 38px;
}
.write-us textarea{
  width: 460px;
  height: 114px;
}
.write-us label{
  display: inline-block;
  margin-bottom: 11px;
 }
.modal-write-us{
  margin: auto;
  display: flex;
  width: 620px;
  height: 430px;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 7px solid var(--basic-red);
}
.write-us{
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
}
.modal-map{
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  border-top: 7px solid var(--basic-red);
}
.modal-close{
  background-color: transparent;
  border: none
}

/* КАТАЛОГ */

.breadcrumbs {
	list-style: none;
	padding-left: 0px;
}

.breadcrumbs li {
	display: inline-block;
}
.breadcrumbs a {
	display: inline-block;
	text-transform: uppercase;
	color: var(--basic-text-body);
	font-family: var(--special-font);
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}
.catalog-title{
	display: flex;
	background-color: var(--basic-background);
	color: var(--basic-darkgrey);
	padding-left: 30px;
	margin-bottom: 20px;
}
.inner-page,
.wrap h2 {
	font-family: var(--special-font);
	font-size:13px;
	font-weight: 400;
	line-height:18px;
	text-transform: uppercase;
}
.wrap{
	background-color: var(--special-beige);
	display: flex;
}
.wrap ul{
	list-style: none;
	padding-left: 0px;
}
.wrap a{
	text-decoration: none;
	color: var(--basic-text-body);
	opacity: 0.3;
}
.wrap a:active{
	color: var(--basic-red);
	opacity: 1.0;
}
.wrap a:hover{
	color: var(--basic-text-body);
	border-bottom: 1px dashed var(--basic-red);
	opacity: 1.0;
}
.wrap.sort{
	margin-left: 20px;
	width: 700px;
	justify-content: space-between;
}
 /* общий контейнер  - фильтр и список товаров*/
.main-container{
	display: flex;
	align-items: flex-start;
}
.filter-container{
	display: flex;
	width: 240px;
	margin-right: 20px;
	padding: 0px;
}
.filter{
	width: 220px;
}
.filter legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
  padding-top: 15px;
}
.filter fieldset{
	border: none;
	padding: 0px;
  padding-top: 11px;;
}
.filter ul {
	list-style: none;
	line-height: 19px;
	font-size:15px;
	padding: 0px;
}
.filter-bar h2,
.filter-bar h3
{
 display: flex;
 width: 220px;
}

/*тут не работает* - класс задан li в котором интут и label*/
.filter input-checkbox:hover + label,
.filter input-checkbox:focus + label {
	color: var(--filter-active);
}

/* ссылки в шапке "сортировка"*/
.sort li{
	display: inline-flex;
	justify-content: space-between;

}
/*  секиция с карточками товаров*/

/* флаг "новый-товар" для карточек*/
.flag-new {
  display: none;
	background-color: var(--basic-red);
	text-transform: uppercase;
	font-family: var(--basic-font);
	font-size: 14px;
	color: var(--basic-white);
}

.product-table{
	display: flex;
	max-width: 700px;
	justify-content: space-between;
  padding-top: 28px;
}
.product-list-inner{
	margin: 0;
	padding: 0;
	list-style: none;
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}
.catalog-button{
	font-size: 13px;
	line-height: 18px;
	background-color: var(--basic-white);
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	box-shadow:none;
}

.pagination{
	display: flex;
	margin-left: 240px;
}
 .pagination-list{
	display: flex;
	padding: 0;
	list-style: none;
	align-items: center;
}
.pagination-page {
	display: flex;
	width: 38px;
	height: 38px;
	border: 1px solid var(--border);
  margin-right: 10px;
  border-radius: 2px;
}
.pagination-page:last-child{
	width: 140px;
}
.pagination-page a {
	color: var(--basic-text-body);
	margin: auto;
}
.pagination-page:hover{
	border: 1px solid var(--basic-greylight);
}
.pagination-page:focus{
	border: 1px solid var(--basic-red);
}
.current{
  background-color: var(--basic-red);
}
.current a{
  color: var(--basic-white);
}
.filter-bar {
	display: flex;
}
.service h2 {
	padding-top: 64px;
	padding-bottom: 25px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.service p{
	padding-bottom: 68px;
}

/*  https://up.htmlacademy.ru/htmlcss/30/module/6/item/7   - оформление иконок*/
/* КНОПКИ В КАТАЛОГЕ*/
.button-card-buy{
  display: block;
  width: 135px;
  padding-top: 10px;
  box-sizing: border-box;
  height: 38px;
  border-radius: 2px;
  background-color: var(--basic-green-button);
  color: var(--basic-white);
  font-family: var(--basic-font);
  font-weight: 400;
  font-size: 14px;
  line-height:18px;
  text-align: center;
  border-bottom: solid 3px var(--add-green-border-button);
  margin-bottom: 10px;
}
.button-card-buy:hover{
  background-color: var(--button-hover-succes);
}
.button-card-buy:active{
  background-color: var(--button-onclick);
}
.save-item{
  display: block;
  width: 135px;
  padding-top: 10px;
  box-sizing: border-box;
  height: 38px;
  border-radius: 2px;
  color: var(--basic-darkgrey);
  font-family: var(--basic-font);
  font-weight: 400;
  font-size: 14px;
  line-height:18px;
  text-align: center;
  border: solid 3px var(--basic-green-button);
  }
.save-item:hover{
  border-color: var(--basic-darkgrey);

}
.save-item:active,
.save-item a:active{
  color: var(--opacity-grey-active);
  border-color: var(--opacity-grey-active);
}
 /* или лучше в див упаковать ссылку и там уже выравнивать ?. */
