@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: local("Cuprum"),
  url("../fonts/cuprum.woff2") format("woff2"),
      url("../fonts/cuprum.woff") format("woff");
}
@font-face{
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src: local("Cuprum"),
      url("../fonts/cuprumbold.woff2") format("woff2"),
      url("../fonts/cuprumbold.woff") format("woff");
}
@font-face{
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src: local("Cuprum"),
      url("../fonts/cuprumitalic.woff2") format("woff2"),
      url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face{
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Cuprum"),
      url("../fonts/ptsans.woff2") format("woff2"),
      url("../fonts/ptsans.woff") format("woff");
}
@font-face{
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
      url("../fonts/ptsansbold.woff") format("woff");
}

/* Variables */
:root {
--header: #888888;
--main-menu: #293449;
--basic-darkgrey: #32425C;
--basic-red: #EE3643;
--basic-green: #63A63E;
--basic-background: #F3F7F9;
--basic-white: #FFFFFF;
--special-yellow: #FFBF47;
--special-blue: #3BBCE3;
--special-lilac:#DC91D8;
--special-greenlight: #8ED78F;
--wrap: #F7F3EC;
--logo-on-click: #BA2732;
--text: #FFFFFF;
--basic-text-body: #000000;
--special-red-error:#BA2732;
--special-beige: #F9F5F0;
--border: #EAEAEA;
--special-grey-price:#A9A9A9;
--menu-active:#1D2739;
--button-hover:#CA2C37;
--yellow-text:#FFD180;
--basic-greylight: #C5C5C5;
--color_opacity: rgba(255, 255, 255, 0.3);
--basic-font:"Cuprum", "Arial", sans-serif;
--special-font: "PT Sans", "Arial", sans-serif;
--hover-grey: #B5B5B5;
}

/* Global */
.page {
  height: 100%;
}
.page-body{
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: var(--basic-font);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text-body);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* header */
.main-header {
  background-color: var(--basic-background);

}

.header-logo-bar{
  background-color: var(--main-menu);
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.main-header-menu {
  width: 940px;
  margin: auto;
  font-family: var(--basic-font);
  font-size: 18px;
  line-height: 24px;
  color: var(--text);
  display: grid;
  grid-template-columns: 220px auto repeat(3,150px);
}
.header-wrapper{
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  width: 940px;
  margin: auto;
}
.search {
  background-color: inherit;
  color: var(--basic-white);
  border: none;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  padding: 9px 14px 9px 43px;

}
.search:focus {
  background-color: var(--basic-white);
  color: var(--basic-text-body);
  background-image: var(--basic-red);
}


.logo{
  background-color: var(--basic-red);
  box-shadow:0 5px 0 var(--special-red-error);
}
.logo a:focus{
  background-color: var(--logo-on-click);
  box-shadow:0 5px 0 var(--special-red-error);
}
.header-link{
  color: var(--text);
  }
.header-link:active {
  color: var(--header);
}
.button {
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  border:none;
}
.button:hover{
  background-color: var(--button-hover);
}
.button:focus{
  background-color: var(--special-red-error);
}
.button-buy {
  background-color: var(--basic-green);
}
.header-link{
  display: grid;

}
.header-text {
  color: var(--basic-red);
  font-family: var(--basic-font);
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}
.phone {
   color: var(--basic-red);
   text-decoration: none;
   font-family: var(--basic-font);
   font-size: 21px;
   font-weight: 700;
   border:solid 3px var(--basic-white);
   background-image: url(../img/icon-phone.svg);
   background-repeat: no-repeat;
   padding: 4px 42px 5px 71px;
}
.contacts-adress {
   font-family: var(--basic-font);
   font-size: 14px;
   font-style: normal;
   color: var(--basic-darkgrey);
}
.user-link {
  background-color: var(--basic-white);
  color: var(--basic-text-body);
  font-family: var(--basic-font);
  font-size: 21px;
}
.site-navigation {
  list-style: none;
  text-decoration: none;
  background-color: var(--basic-darkgrey);
  font-family: var(--basic-font);
  font-size: 18px;
  line-height: 24px;
  box-shadow:0 5px 0 var(--main-menu);
  }
  .site-navigation a{
    color: var(--basic-white);
  }
  .site-navigation a:hover{
      background-color: var(--menu-active);
  }

  /* - main секция меню -*/
.wrapper{
  width: 940px;
  margin: auto;
}
.hidden {
  display: none;
}
.wrapper-submenu{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
  "material  technics  tools"
  "gallery gallery sale"
  "gallery gallery delivery";
  margin-bottom: 60px;
}
.submenu-item {
  font-family: var(--basic-font);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
}
.submenu-button {
  background-color: var(--color_opacity);
  color: var(--basic-white);
  font-family: var(--basic-font);
  font-size: 14px;
  font-style: normal;
  text-transform: uppercase;
}
.material {
  background-color: var(--special-yellow);
  grid-area: material;
  background-image: url(../img/icon-color.svg);
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 73px;
  padding-left: 22px;
}
.tools {
  background-color: var(--special-blue);
  grid-area: tools;
  background-image: url(../img/icon-drel.svg);
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 73px;
  padding-left: 22px;
}
.technics {
  background-color: var(--special-lilac);
  grid-area: technics;
  background-image: url(../img/icon-track.svg);
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 73px;
  padding-left: 22px;
}
.sale {
  background-color: var(--special-greenlight);
  grid-area: sale;
  background-image: url(../img/icon-sale.svg);
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 73px;
  padding-left: 22px;
}
.delivery {
  background-color: var(--special-yellow);
  grid-area: delivery;
  background-image: url(../img/icon-delivery.svg);
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 73px;
  padding-left: 22px;
}
.flag-new {
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-family: var(--basic-font);
  font-size: 14px;
  color: var(--basic-white)
}

/* slider */
.gallery{
  grid-area: gallery;
}
.gallery-slide{
  background-color: var(--header);

}
.gallery-slide h3{
  font-family: var(--basic-font);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: top;
}
.gallery ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.gallery-slide p{
  font-family: var(--basic-font);
  font-size: 18px;
  font-weight: 400;
  color: var(--basic-white);
}
/*описать кнопки слайдера
.gallery-button-back
.gallery-button-next  */

.wrap-title {
  background-color: var(--special-beige);
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.wrap-title h2,
.special h2,
.contacts h2,
.catalog-title{
  font-family: var(--basic-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.wrap-title h2,{
  grid-row: 2 / 3;
}
.product-list,
.manufacturer-list{
 list-style: none;
}
.product-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

}
.list-item{
  text-align: center;
  width: 220px;
  border: 1px solid var(--border);
}
.product-card-item {
  font-family: var(--special-font);
  font-weight: 700;
}
.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--special-grey-price);
  text-decoration: line-through;
}
.new-price {
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
}
.manufacturer-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:    1fr 1fr;
  grid-gap: 20px;
}
.service{
  background-color: var(--basic-background);
}
.special p,
.contacts p {
  font-family: var(--special-font);
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text-body);
  text-transform: none;
}
.service-menu{
  list-style: none;
  background-color: var(--main-menu);
}
.service-menu a{
  color: var(--basic-white);
  font-family: var(--basic-font);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}
.service-menu a:hover{
   background-color: var(--menu-active);
}
.service-menu a:active{
  background-color: var(--basic-white);
  color: var(--basic-darkgrey);
}
.service h3 {
  color: var(--basic-darkgrey);
}
.service-delivery{
  background-image: url(../img/layout_delivery.png);
  background-repeat: no-repeat;
}
.service-garanty{
  background-image: url(../img/layout_garanty.png);
  background-repeat: no-repeat;
}
.service-credit{
  background-image: url(../img/layout_credit.png);
  background-repeat: no-repeat;
}

.add-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* вот так не сработало почему то
.special{
  grid-row: 1/3;
}
.contacts{
  grid-row: 3/4;
}
*/

/* footer*/

.footer {
  background-color: var(--basic-darkgrey);
  color: var(--basic-white);
  font-family: var(--basic-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
}
.footer a{
  color:inherit;
}
.footer-nav{
  box-shadow: none;
}
.footer-nav a:hover{
  background-color: inherit;
}
.sub-text-footer,
.call-back a{
  color: var(--yellow-text);
  list-style: none;
}
.call-back a:active{
  color: var(--basic-red);
}
.sub-text-footer li:hover,
.footer-nav li:hover{
  text-decoration: underline;
}
.sub-text-footer li:active,
.footer-nav li:active{
  background-color: opacity 0.5;
}
.footer-down{
  background-color: var(--main-menu);
}
.social{
  list-style:none;
}
.social-background{
  display: inline-block;
}

.social-button{
  color: var(--basic-white);
  display: inline-block;
  width:44px;
  height:44px;
  border-radius:50%;
  text-align:center;
  background-color:var(--menu-active);
   margin-left: auto;
  margin-right: auto;
}
.social-button:hover,
.social-button:active {
  background-color:var(--basic-red);
}
.footer-adress{
  font-style: normal;
}
.map{
  border-top: 7px solid var(--basic-red);
}
/*сюда же потом добавить стиль для плейхолдера textarea*/
.write-us input[type="email"],
.write-us input[type="text"]{
  font-family: var(--special-font);
  color: var(--special-grey-price);
  font-size: 13px;
  line-height: 24px;
  border: 2px solid var(--basic-greylight);
}
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  text-transform: uppercase;
  color: var(--basic-text-body);
  font-family: var(--special-font);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
.catalog-title{
  background-color: var(--basic-background);
  color: var(--basic-darkgrey);
}
.inner-page,
.wrap h2 {
  font-family: var(--special-font);
  font-size:13px;
  font-weight: 400;
  line-height:18px;
  text-transform: uppercase;
}
.wrap{
  background-color: var(--special-beige);
}
.wrap ul{
  list-style: none;
}
.wrap a{
  text-decoration: none;
  color: var(--basic-text-body);
  opacity: 0.3;
}
.wrap a:active{
  color: var(--basic-red);
  opacity: 1.0;
}
.wrap a:hover{
  color: var(--basic-text-body);
  border-bottom: 1px dashed var(--basic-red);
  opacity: 1.0;
}
.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}
.filter ul {
  list-style: none;
  line-height: 19px;
  font-size:15px;
}
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {  /*тут не работает*/
  color: var(--hover-grey);
}
.catalog-button{
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  box-shadow:none;
}


